body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#colorCode {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}