body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a28282;
}

.container {
    text-align: center;
}

.slider {
    display: flex;
    align-items: center;
}

button {
    padding: 10px;
    margin: 0 20px;
    cursor: pointer;
}

img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

#message {
    color: red;
    font-weight: bold;
}
